<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body class="bg-sky-300" >
    
    <header>
        <div class="p-50">
            <h1 class="p-5 bg-green-700 text-3xl font-bold text-amber-950 text-center">
                Quel joueurs de minecraft est-tu ?
            </h1>
        </div>
    </header>

    <main>
        <div class="bg-white rounded-[15px] p-10 m-10">
            <p>
                Plonge dans l’univers de Minecraft avec ce test de personnalité unique !
                Es-tu un amateur de la redstone, un bâtisseur ingénieux, un redoutable guerrier ou un paisible mineur ?
                Réponds à quelques questions et découvre quel rôle te correspond le mieux dans ce monde cubique.
                Que tu préfères miner des diamants, explorer le Nether ou créer des structures grandioses,
                ce test révélera ta vraie nature de joueur Minecraft !
            </p>
        </div>
        <div class="flex justify-center py-4 m-5">
            <a class="text-amber-950 font-bold test-2xl p-3 bg-green-700 hover:bg-green-800 border-white rounded-lg" href="/questions">Clique ici pour faire le test !</a>
        </div>
        <div class="flex justify-center m-10">
            <img class="h-[250px] rounded-[15px] border border-gray-700 border-1.5" src="/static/Minecraft.jpeg">
        </div>
    </main>

    <footer class="w-full fixed bottom-0">
        <p class="text-center font-semibold text-2xl bg-green-700 py-2">Crédit : moi</p>
    </footer>
</body>
</html>