<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <h1 class="p-5 bg-green-700 text-3xl font-bold text-amber-950 text-center">
            Quel joueurs de minecraft est-tu ?
        </h1>
    </header>

    <main>

        <p class="text-center font-mono text-2xl y-4 py-6">{{questions}}</p>
        <ul>
            <li><a href="/reponse/0">{{reponses[0]}}</a></li>
            <li><a href="/reponse/1">{{reponses[1]}}</a></li>
            <li><a href="/reponse/2">{{reponses[2]}}</a></li>
            <li><a href="/reponse/3">{{reponses[3]}}</a></li>
        </ul>
    </main>
    
    <footer class="w-full fixed bottom-0">
        <p class="text-center font-semibold text-2xl bg-green-700 py-2">Crédit : moi</p>
    </footer>
</body>

</html>
